/* 去除通知栏 右上角 X */
.notify-render .hope-close-button {
  display: none;
}

/* 此选项两处CSS 在v3.31.0中已优化 滚动显示 和 右下角设置网格模式尺寸大小 */
/* 文字超长自动换行 */
/*.name-box .name {
  white-space: unset !important;
  overflow: unset !important;
}*/
/* 缩略图图片变大 代码中的160px 自己改 现在是注释状态若需要自行解除注释 */
/*.obj-box > div {
grid-template-columns: repeat(auto-fill, minmax(160px, 1fr))
}
.obj-box > div .item-thumbnail{
height: 100px;
}*/

/*
图片API用法点进去都会有食用说明的,API来自网络不保证实效性稳定性自己测试
樱花：https://www.dmoe.cc
夏沫：https://cdn.seovx.com
搏天：https://api.btstu.cn/doc/sjbz.php
姬长信：https://github.com/insoxin/API
小歪：https://api.ixiaowai.cn/
保罗：https://api.paugram.com
墨天逸：https://api.mtyqx.cn
岁月小筑：https://img.xjh.me
东方Project：https://img.paulzzh.com
*/

/*白天背景图*/
.hope-ui-light {
  background-image: url("https://api.luminet.cn/api/random") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}
/*夜间背景图*/
.hope-ui-dark {
  background-image: url("https://pic.rmb.bdstatic.com/bjh/ebe942a9de49856f389c65f25a338335.png") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}
/*主列表白天模式透明*/
.obj-box.hope-stack.hope-c-dhzjXW.hope-c-PJLV.hope-c-PJLV-igScBhH-css {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
/*主列表夜间模式透明*/
.obj-box.hope-stack.hope-c-dhzjXW.hope-c-PJLV.hope-c-PJLV-iigjoxS-css {
  background-color: rgb(0 0 0 / 50%) !important;
}
/*readme白天模式透明*/
.hope-c-PJLV.hope-c-PJLV-ikSuVsl-css {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
/*readme夜间模式透明*/
.hope-c-PJLV.hope-c-PJLV-iiuDLME-css {
  background-color: rgb(0 0 0 / 50%) !important;
}

/*顶部右上角切换按钮透明*/
.hope-ui-light .hope-c-ivMHWx-hZistB-cv.hope-icon-button {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px) !important;
}
.hope-ui-dark .hope-c-ivMHWx-hZistB-cv.hope-icon-button {
  background-color: rgb(0 0 0 / 50%) !important;
  backdrop-filter: blur(10px) !important;
}

/*右下角侧边栏按钮透明 第一个是白天 第二个是夜间*/
.hope-ui-light .hope-c-PJLV-ijgzmFG-css {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px) !important;
}
.hope-ui-dark .hope-c-PJLV-ijgzmFG-css {
  background-color: rgb(0 0 0 / 50%) !important;
  backdrop-filter: blur(10px) !important;
}

/*白天模式代码块透明*/
.hope-ui-light pre {
  background-color: rgba(255, 255, 255, 0.1) !important;
  backdrop-filter: blur(10px) !important;
}
/*夜间模式代码块透明*/
.hope-ui-dark pre {
  background-color: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(10px) !important;
}

/*左侧侧边栏目录*/
/*白天模式*/
.hope-ui-light .hope-c-PJLV-ieGWMbI-css {
  background: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px) !important;
}
/*夜间模式*/
.hope-ui-dark .hope-c-PJLV-ieGWMbI-css {
  background-color: rgb(0 0 0 / 50%) !important;
  backdrop-filter: blur(10px) !important;
}

/* 返回顶部 */
.hope-c-PJLV-ihVEsOa-css {
  background: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px) !important;
}
.hope-ui-dark .hope-c-PJLV-ihVEsOa-css {
  background-color: rgb(0 0 0 / 50%) !important;
  backdrop-filter: blur(10px) !important;
}

/*正常情况未使用吸附功能*/
/*顶部*/
.hope-c-PJLV-ikaMhsQ-css {
  background: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(10px) !important;
}
/*导航条*/
/*白天模式*/
.hope-ui-light .hope-c-PJLV-idaeksS-css {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: var(--hope-radii-xl) !important;
}
/*夜间模式*/
.hope-ui-dark .hope-c-PJLV-idaeksS-css {
  background-color: rgb(0 0 0 / 50%) !important;
  border-radius: var(--hope-radii-xl) !important;
  backdrop-filter: blur(10px) !important;
}
/* 吸附到页面顶部 */
/*顶部*/
.hope-c-PJLV-icWrYmg-css {
  background: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(10px) !important;
}
/*导航条*/
.hope-c-PJLV-icKsjdm-css::after {
  background: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(10px) !important;
}
/*白天模式*/
.hope-ui-light .hope-c-PJLV-icKsjdm-css {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: var(--hope-radii-xl) !important;
}
/*夜间模式*/
.hope-ui-dark .hope-c-PJLV-icKsjdm-css {
  background-color: rgb(0 0 0 / 50%) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: var(--hope-radii-xl) !important;
}

/*仅吸附导航栏*/
/*导航条*/
.hope-c-PJLV-ifdXShc-css::after {
  background: rgba(255, 255, 255, 0) !important;
  backdrop-filter: blur(10px) !important;
}
/*白天模式*/
.hope-ui-light .hope-c-hrsMRY {
  background-color: rgba(255, 255, 255, 0.5) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: var(--hope-radii-xl) !important;
}
/*夜间模式*/
.hope-ui-dark .hope-c-hrsMRY {
  backdrop-filter: blur(10px) !important;
  background-color: rgb(0 0 0 / 50%) !important;
  border-radius: var(--hope-radii-xl) !important;
}

/*底部CSS，.App .table这三个一起的*/
dibu {
  border-top: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.App {
  min-height: 85vh;
}
.table {
  margin: auto;
}
/*去掉底部*/
.footer {
  display: none !important;
}
/*全局字体*/
* {
  font-family: LXGW WenKai;
}
* {
  font-weight: bold;
}
body {
  font-family: LXGW WenKai;
}
.hope-ui-light .hope-c-PJLV-iiBaxsN-css {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(10px) !important;
}

/*白天模式 搜索栏输入框+毛玻璃*/
.hope-ui-light .hope-c-kvTTWD-hYRNAb-variant-filled {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(10px) !important;
}

/*白天模式 搜索按钮+毛玻璃*/
.hope-ui-light .hope-c-PJLV-ikEIIxw-css {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(10px) !important;
  padding: var(--hope-space-1) !important;
}

/*夜间模式搜索主体+毛玻璃*/
.hope-ui-dark .hope-c-PJLV-iiBaxsN-css {
  background-color: rgb(0 0 0 / 10%) !important;
  backdrop-filter: blur(10px) !important;
}

/*夜间模式搜索栏+毛玻璃*/
.hope-ui-dark .hope-c-kvTTWD-hYRNAb-variant-filled {
  background-color: rgb(0 0 0 / 10%) !important;
  backdrop-filter: blur(10px) !important;
}

/*夜间模式 搜索按钮+毛玻璃*/
.hope-ui-dark .hope-c-PJLV-ikEIIxw-css {
  background-color: rgb(0 0 0 / 10%) !important;
  backdrop-filter: blur(10px) !important;
  padding: var(--hope-space-1) !important;
}
/*白天模式 搜索主体*/
.hope-ui-light .hope-c-PJLV-iiBaxsN-css {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/*白天模式 搜索栏输入框*/
.hope-ui-light .hope-c-kvTTWD-hYRNAb-variant-filled {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

/*白天模式 搜索按钮*/
.hope-ui-light .hope-c-PJLV-ikEIIxw-css {
  background-color: rgba(255, 255, 255, 0.2) !important;
  padding: var(--hope-space-1) !important;
}

/*夜间模式搜索主体*/
.hope-ui-dark .hope-c-PJLV-iiBaxsN-css {
  background-color: rgb(0 0 0 / 10%) !important;
}

/*夜间模式搜索栏*/
.hope-ui-dark .hope-c-kvTTWD-hYRNAb-variant-filled {
  background-color: rgb(0 0 0 / 10%) !important;
}

/*夜间模式 搜索按钮*/
.hope-ui-dark .hope-c-PJLV-ikEIIxw-css {
  background-color: rgb(0 0 0 / 10%) !important;
  padding: var(--hope-space-1) !important;
}
.hope-ui-light .hope-c-PJLV-ikvBale-css {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(10px) !important;
}
.hope-ui-dark .hope-c-PJLV-ikvBale-css {
  background-color: rgb(0 0 0 / 10%) !important;
  backdrop-filter: blur(10px) !important;
}
.hope-ui-dark .hope-c-iPJpIL-bVSmjq-size-xs {
  background-color: rgb(0 0 0 / 10%) !important;
  backdrop-filter: blur(10px) !important;
}
.hope-ui-light .hope-c-iPJpIL-bVSmjq-size-xs {
  background-color: rgba(255, 255, 255, 0.2) !important;
  backdrop-filter: blur(10px) !important;
}
